$white: #fff;
$gray: #4c4c4c;

body {
  background-image: url('https://s3.amazonaws.com/merchtable-photos-production/misc_images/imgs/000/001/436/original/scan_20polaroids082_dark.jpg?1649274692');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.cursor {
  cursor: s-resize;
}


section {
  height: 100vh;
  position: absolute;
  right:50%;
  left:50%;
  margin-right:-24%;
  margin-left:-24%;
  .inner {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: -10% 0;
    text-align: center;


    // 메인 타이틀
    // 메인 타이틀
    .main {
      position: absolute;
      top: 1rem;
      perspective: 1500px;
      h1 {
        color: #fff;
        font-size: 8.5rem;
        font-family: 'Vesper Libre', serif;
        font-weight: 700;
        text-shadow:  0 8px 5px #304430;
        opacity: 0.8;
      }
    }
    .main.bye {
    top: 3rem;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.6s;
    }


    // 검색 박스
    // 검색 박스
    .search-box {
      background-color: $white;
      width: 100%;
      height: 6rem;
      display: flex;
      align-items: center;
      position: relative;
      top: -4rem;
      border-radius: 1rem;
      opacity: 0;
      z-index: 9;
      .input {
        position: relative;
        width: 37rem;
        height: 5rem;
        input {
          width: 33rem;
          height: 3.9rem;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 3rem;
          margin: auto 0;
          font-size: 3.2rem;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          color: #304430;
          border: none;
          outline: none;
        }
      }
      .input.input-off {
        display: none;
      }
      .type-container {
        width: 8rem;
        position: relative;
        color: $gray;
        font-family: 'Lato', sans-serif;
        font-size: 2.2rem;
        .type-btn {
          height: 4.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        .type {
          height: 0;
          position: absolute;
          top: 4rem;
          left: 0;
          right: 0;
          padding: 0 0 0 0;
          background-color: $white;
          border-radius: 0 0 1rem 1rem;
          overflow: hidden;
          transition: 0.4s;
          li {
            margin: 1rem 0;
            font-size: 1.6rem;
            opacity: 0;
            transition: 0.6s;
          }
        }
        .type.active {
          height: 11rem;
          transition: 0.6s;
          li {
            opacity: 1;
            transition: 0.6s;
          }
        }
      }
      .search-btn {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        .bi-search {
          width: 4rem;
          height: 2rem;
          color: $gray;
        }
      }
    }
    .search-box.hello {
      top: 1rem;
      opacity: 1;
      transition: 1s;
    }
    .search-box.normal-search {
      top: 1rem;
      opacity: 1;
    }
    .search-box.fix {
      width: 50.4rem;
      height: 4rem;
      position: fixed;
      opacity: 0.7;
    }
    .search-box.search-on {
      opacity: 1;
    }


    // 검색 결과 총 개수
    // 검색 결과 총 개수
    .total {
      margin-top: 2rem;
      height: 20%;
      color: #e2e2e2;
      cursor: default;
      .results {
        position: absolute;
        left: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }


    // 영화 정보
    // 영화 정보
    .movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      .movie-box {
        width: 14rem;
        margin: 1rem;
        position: relative;
        text-align: center;
        transition: 0.6s;
        img {
          width: 14rem;
          height: 21rem;
          border: #304430 solid 1px;
          border-radius: 1rem;
          transition: 0.4s;
        }
        div {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 2rem;
          font-family: 'Vesper Libre', serif;
          font-size: 2rem;
          font-weight: 500;
          color: #fff;
          opacity: 0;
          transition: 0.6s;
        }
        .title {
          top: 4rem;
          font-weight: 700;
          line-height: 2.3rem;
          cursor: default;
        }
        .size-down {
          top: 3rem;
          font-size: 1.5rem;
          line-height: 1.6rem;
        }
        .year {
          top: 12rem;
          font-size: 1rem;
          font-weight: 400;
          cursor: default;
        }
        .google {
          width: 4rem;
          display: block;
          position: absolute;
          bottom: 3rem;
          left: 0;
          right: 0;
          padding: 0.5rem 0;
          margin: 0 auto;
          font-size: 1.4rem;
          font-weight: 700;
          text-decoration: none;
          color: #4caf50;
          border-radius: 2rem;
          background-color: #fff;
          opacity: 0;
        }
        &:hover {
          transform: scale(1.1, 1.1);
          transition: 0.6s;
          div {
            opacity: 1;
            transition: 0.6s;
          }
          img {
            filter: brightness(10%);
            transition: 0.4s;
            opacity: 0.8;
          }
          .google {
            opacity: 1;
            transition: 0.6s;
          }
        }
      }
    }
  }


  // 스크롤 조건 타겟 감시 & 스피닝
  // 스크롤 조건 타겟 감시 & 스피닝
  .observer {
    margin: 2rem 0;
    .spinner-border {
      display: none;
    }
    &.loading .spinner-border {
      display: block;
    }
  }





}